/* ------- Variables ------- */
:root{
  --primary-color: rgb(111, 252, 195);
  --secondary-color: rgb(151, 247, 209);
  --custom-table-border: 2px solid rgb(102, 102, 102);
  --custom-table-radius: 10px;
}


button{
  cursor: pointer;
}

/* ------- Titles/Headers ------- */
h1{
  font-size: calc(1vw + 1em);
  font-weight: 800;
}

h2{
  font-size: calc(1vw + 0.5em);
  font-weight: 800;
}

h3, .input-label{
  font-size: calc(0.5vw + 0.5em);
  font-weight: 700;
}

.clickable{
  cursor: pointer;
}

/* ------- Inputs ------- */
input[type=number]{
  appearance: textfield;
}

input:not(.cell-inputs, #budget-input){
  border-radius: var(--custom-table-radius);
  padding: 7px;
  border: 2px solid rgba(102, 102, 102, 0.1);
}

input:focus:not(.cell-inputs, #budget-input){
  border: 2px solid var(--primary-color);
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 101;
}

.manager-buttons{
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(111, 252, 195);
  min-width: 48px;
  text-align: center;
  font-weight: 700;
}

.manager-buttons:hover{
  opacity: 0.8;
}

.manager-buttons:active{
  transform: scale(0.9);
}

.manager-icons{
  width: 24px;
  filter: contrast(0.5);
}