#mortgage-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-left: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
  gap: 3em;
  min-height: 100%;
}

#mortgage-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#mortgage-calculations-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: var(--custom-table-border);
  border-radius: var(--custom-table-radius);
  min-width: 70em;
}