/* ------- Variables ------- */
:root{
  --custom-table-grid: repeat(4, 1fr);
  --custom-table-border: 2px solid rgb(102, 102, 102);
  --custom-table-radius: 10px;
  --primary-color: rgb(111, 252, 195);
  --secondary-color: rgb(151, 247, 209);
}

/* ------- Custom Table (Main) ------- */
#custom-table{
  width: 90%;
  display: block;
  padding-left: 5em;
  padding-top: 1em;
  gap: 7px;
}

#custom-table-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 3em;
  margin-bottom: 7px;
  position: relative;
}

#custom-table-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

#custom-table-insert{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

#custom-table-insert input{
  background-color: white;
  border-radius: var(--custom-table-radius);
  padding: 7px;
}

#custom-table-insert > input[type=number]{
  appearance: textfield;
}

#custom-table-insert-options{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

#custom-table-saving-options{
  position: absolute;
  right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

#custom-table-save-button{
  padding-left: 14px;
  padding-right: 14px;
}

#custom-table-save-button:disabled{
  background-color: rgba(150, 150, 150, 0.2);
  cursor: default;
  pointer-events: none;
}

/* ------- Custom Table Body ------- */
#custom-table-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 1px 3px 10px rgb(150, 150, 150);
  border-bottom: none;
  border-radius: var(--custom-table-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 2.3em;
  gap: 1em;
}

#custom-table-body-header{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#custom-table-body-search-container{
  border-bottom: 1px solid rgba(102, 102, 102, 0.7);
  padding-bottom: 3px;
}

#custom-table-body-header div, #custom-table-body-header button{
  display: flex;
  align-items: center;
  justify-content: center;
}

#custom-table-body-export-button{
  filter: brightness(0.4) invert(.7) sepia(.8) hue-rotate(100deg) saturate(300%);
  font-weight: 700;
}

#custom-table-body-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
  width: 100%;
  gap: 10em;
}

#custom-table-body-cells{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  min-width: 100px;
}

#custom-table-body-sections{
  display: grid;
  grid-template-columns: var(--custom-table-grid);
  padding: 11px;
  width: 100%;
  background-color: rgba(150, 150, 150, 0.2);
  border-radius: var(--custom-table-radius);
  font-weight: 700;
}

#custom-table-body-sections > p + p{
  text-align: center;
}

.custom-table-body-cell{
  display: grid;
  grid-template-columns: var(--custom-table-grid);
  border-radius: var(--custom-table-radius);
  padding: 1em;
  width: 100%;
  position: relative;
}

.non-subcategory-cell{
  border: 2px solid rgba(129, 129, 129, 0.3);
}

.custom-table-body-cell:not(.disable-hover):hover{
  border: 2px solid rgb(111, 252, 195);
}

.custom-table-body-delete-button{
  filter: brightness(0.9) invert(0.5) sepia(0.9) hue-rotate(-50deg) saturate(300%);
}

.custom-table-body-cell input{
  width: inherit;
}

.custom-table-body-cell > input + input{
  text-align: center;
}

.custom-table-body-cell input:disabled{
  pointer-events: none;
}

.custom-table-body-cell input:enabled{
  border-bottom: 1px solid rgb(49, 49, 49);
  cursor: text !important;
}

.custom-table-body-cell > input + input:enabled{
  border-left: 1px solid rgb(49, 49, 49);
}

.custom-table-body-cell-options{
  position: absolute;
  right: -2em;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}

/* Custom Table Body SubCategory */

#custom-table-body-subcategory{
  display: block;
}

#custom-table-body-subcategory-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: 7px;
}

#custom-table-body-subcategory-content{
  border-radius: var(--custom-table-radius);
  padding: 2.3em;
  box-shadow: 1px 3px 10px rgba(102, 102, 102, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 100%;
}

.subcategory-cell{
  box-shadow: 1px 3px 10px rgba(102, 102, 102, 0.7);
  border: 2px solid transparent;
}

#add-subcategory-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border: 2px solid rgb(102, 102, 102);
  background-color: white;
  border-radius: var(--custom-table-radius);
  padding: 7px;
  min-height: 10em;
}

/* ------- Custom Table Bottom ------- */
#custom-table-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  background-color: var(--primary-color);
  border-bottom-left-radius: var(--custom-table-radius);
  border-bottom-right-radius: var(--custom-table-radius);
  box-shadow: 1px 5px 10px -1px rgb(150, 150, 150);
  border-top: none;
}