body{
  background-color: rgb(37, 43, 58);
  color: aliceblue;
}

#root{
  display: block;
}

#money-manager{
  margin-top: 70px;
  margin-left: 21em;
  display: grid;
  place-items: center;
  height: calc(100vh - 70px);
  width: calc(100vw - 21em);
}