body{
  background-color: white;
  color: rgb(44, 44, 44);;
  font-family: Nunito, Arial;
  font-weight: 600;
}

#root{
  display: block;
}

#money-manager{
  margin-top: 70px;
  margin-left: 21em;
  display: grid;
  place-items: start;
  height: calc(100vh - 70px);
  width: calc(100vw - 21em);
}
